*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header header header"
    "productos productos productos"
    "productos productos productos"
    "footer footer footer";

    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    height: 100vh;

    padding-left: 8%;
    padding-right: 8%;
}


header{
    grid-area: header;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.header--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0; 
}

.header--nav--ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem; /*5 px*/
}

.header--nav--ul--li{
    padding: 0.5rem 1rem;
    font-weight: 300;
    font-size: 0.9rem;
    list-style: none;
}

.header--nav--ul--li a {
    color: #000;
    text-decoration: none;
}

.header--logo img{
   width: 25%;
}



section#productos{
    grid-area: productos;
}

#productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
.col-1 img{
    width: 50px;
    height: 25px;
    margin-left: 2px;
}
button{
    width: 100px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

.col-2{
    flex-basis: 90%;
    display: flex;
    align-items: center;
}
.col-2 .joystick{
    width: 80%;
}


footer{
    grid-area: footer;
    text-align: center;
}

.redes img{
    width: 20px;
    margin: 20px;
    cursor: pointer;
}






@media only screen and (max-width:700px) {
    nav ul{
        width: 100%;
        background: linear-gradient( #ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    #productos{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .joystick{
        width: 75%;
    }
    .col-1{
        flex-basis: 100%;  
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
}
